.Post {
    background-color: #e0e0e0;
    border-radius: 25px;
    border: none;
    margin: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }

.ownerName {
  margin: 10px;
}

.PostImg {
  object-fit: fill;
  width: 75%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}